
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url("https://images.pexels.com/photos/271639/pexels-photo-271639.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-repeat: no-repeat;
    background-size: cover;

}

form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
input{
    border-radius: 2px;
    background-color: transparent;
}
form{
    border:2px solid black;
    border-radius: 10px;
    padding:30px;
}
#special_requests, #room_type{
    background-color: transparent;
}